<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowFileAccessOutsideOfWidget</key>
	<true/>
	<key>AllowSystem</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Eject Volume</string>
	<key>CFBundleIdentifier</key>
	<string>com.offbyte.widget.EjectVolume</string>
	<key>CFBundleName</key>
	<string>Eject Volume</string>
	<key>CFBundleShortVersionString</key>
	<string>0.3</string>
	<key>CFBundleVersion</key>
	<string>0.3</string>
	<key>CloseBoxInsetX</key>
	<integer>4</integer>
	<key>CloseBoxInsetY</key>
	<integer>4</integer>
	<key>Height</key>
	<integer>160</integer>
	<key>MainHTML</key>
	<string>main.html</string>
	<key>Plugin</key>
	<string>EjectVolume.widgetplugin</string>
	<key>Width</key>
	<integer>190</integer>
</dict>
</plist>
